.log-reg-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.login-container button,
input {
  height: 40px;
  width: 300px;
}

.login-container form > input,
.login-container form > button {
  margin: 5px;
}
