.register-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.register-container button,
input {
  height: 40px;
  width: 300px;
}

.register-container form > input,
.register-container form > button {
  margin: 5px;
}
