.background {
  background-color: var(--darkblue);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.title {
  color: white;
  letter-spacing: 0.4px;
  font-weight: 600;
  padding: 0 40px;
}

.avatar {
  height: 30px;
  width: 30px;
  background-color: var(--lightblue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar-container {
  display: flex;
  margin-left: auto;
  margin-right: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatar-drpdwn {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 140px;
  pointer-events: none;
  top: calc(100% + 7px);
  right: 0px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  border: none;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  opacity: 0;
  transform: translate3d(0, -10px, 0);
  transition: opacity 150ms ease-in,
    transform 150ms cubic-bezier(0.42, -0.02, 1, 1);
}

.avatar-container.active > .avatar + .avatar-drpdwn {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}

.avatar-drpdwn span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.avatar-drpdwn button {
  display: flex;
  align-items: center;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  width: 150px;
}

.avatar-drpdwn button:hover {
  transition: background-color 150ms ease-in 0s;
  cursor: pointer;
  background: rgb(250, 228, 222);
  border-radius: 3px;
}

.avatar-drpdwn p {
  color: rgb(204, 96, 81);
  font-size: 0.6rem;
  margin-left: 5px;
}

.initials {
  font-size: 0.9rem;
  font-weight: 500;
}
